body{
    background-color: antiquewhite;
}

table{
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

.cf {
    text-align: center;
}

.customer-header {
    text-align: center;
}

.form-options {
    display: flex;
    flex-direction: row;
}